<!DOCTYPE html>
<html>
<head>
    <title>CSV File: {{ file_name }}</title>
</head>
<body>
    <h1>CSV File: {{ file_name }}</h1>

    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                {% for header in csv_data[0] %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in csv_data[1:] %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{{ url_for('study', subject_name=subject, study_name=study) }}">Back to Study</a>
</body>
</html>