<!DOCTYPE html>
<html>
<head>
    <title>Edit File: {{ filepath }}</title>
</head>
<body>
    <h1>
        {% if study %}
            Edit File: {{ subject }}/{{ study }}/{{ filepath }}
        {% else %}
            Edit File: {{ subject }}/{{ filepath }}
        {% endif %}
    </h1>

    <!-- Link URLs are different depending on level (study, subject, project, process) -->
    {% if study %}
        {% set edit_url = url_for('handlers_bp.edit_file', subject_name=subject, study_name=study, file_relative_path=filepath) %}
        {% set cancel_url = url_for('handlers_bp.file_viewer', subject_name=subject, study_name=study, file_relative_path=filepath) %}
    {% else %}
        {% set edit_url = url_for('handlers_bp.edit_file', subject_name=subject, file_relative_path=filepath) %}
        {% set cancel_url = url_for('handlers_bp.file_viewer', subject_name=subject, file_relative_path=filepath) %}
    {% endif %}

    <form method="POST" action="{{ edit_url }}">
        <textarea name="content" rows="20" cols="80">{{ content }}</textarea>
        <br>
        <button type="submit">Save Changes</button>
    </form>
    <br>
    <a href="{{ cancel_url }}">Cancel</a>
</body>
</html>