<!DOCTYPE html>
<html>
<head>
    <title>Process {{ process_info.pid }}</title>
    <!-- Use public jsTree CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
    <!-- Use public jQuery and jsTree JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
    <style>
        #file-tree {
            font-family: monospace; /* Use fixed-width font */
        }
    </style>
</head>
<body>
    <header>
        <a href="{{ url_for('main_bp.index') }}">Home</a>, 
        <a href="{{ url_for('tools_bp.processes') }}">All Processes</a>
    </header>

    <h1>Process Details</h1>

    <table border="1" cellpadding="2" cellspacing="0">
        <tr>
            <th>PID</th>
            <td>{{ process_info.pid }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ process_info.name }}</td>
        </tr>
        <tr>
            <th>Subject Name</th>
            <td>{{ process_info.subject_name }}</td>
        </tr>
        <tr>
            <th>Study Name</th>
            <td>{{ process_info.study_name }}</td>
        </tr>
        <tr>
            <th>Start Time</th>
            <td>{{ process_info.start_time }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ process_info.status }}</td>
        </tr>

        <tr>
            <th>Return Code</th>
            <td>{{ process_info.returncode }}</td>
        </tr>
        <tr>
            <th>End Time</th>
            <td>{{ process_info.end_time }}</td>
        </tr>
        <tr>
            <th>Duration (s)</th>
            <td>{{ process_info.duration }}</td>
        </tr>

    </table>

    <h2>Files</h2>
    <div id="file-tree"></div>

    <script>
        $(document).ready(function () {
            $('#file-tree').jstree({
                'core': {
                    'data': [
                        {
                            //'text': 'Files under {{ subject }}/{{ study }}',
                            'text': '',
                            'state': { 'opened': true }, // Start collapsed
                            'children': {{ file_tree|tojson }}
                        }
                    ]
                },
                'plugins': ['types'], // Enable types plugin
                'types': {
                    'jstree-folder': {
                        'icon': 'https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/folder.png' // Public folder icon
                    },
                    'jstree-file': {
                        'icon': 'https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/file.png' // Public file icon
                    }
                }
            });

            // Handle double-click on files and specific folders
            $('#file-tree').on('select_node.jstree', function (e, data) {
                const node = data.node;
                const fileName = node.text;
                const filePath = node.original.full_path;
                const path = data.instance.get_path(data.node, '/');

                // Check file extension and open in browser
                if (fileName.endsWith('.txt') || fileName.endsWith('.csv') || fileName.endsWith('.json') || fileName.endsWith('.nii') || fileName.endsWith('.dcm') || fileName.endsWith('.png')) {
                    const url = "{{ url_for('handlers_bp.file_viewer', subject_name=None, study_name=None, process_id=process_info.pid, file_relative_path='') }}" + path;
                    window.open(url, '_blank');
                }

            });
        });
    </script>

    <br>
    <a href="{{ url_for('tools_bp.processes') }}">All Processes</a>
</body>
</html>