<!DOCTYPE html>
<html>
<head>
    <title>Processes</title>
</head>
<body>
    <header>
        <a href="{{ url_for('main_bp.index') }}">Home</a>, 
        <a href="{{ url_for('main_bp.subjects') }}">Subjects</a>, 
        <a href="{{ url_for('main_bp.studies') }}">Studies</a>
    </header>

    <h1>Processes</h1>

    <h2>Running Processes</h2>
    <table border="1" cellpadding="2" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>PID</th>
                <th>Subject Name</th>
                <th>Study Name</th>
                <th>Start Time</th>
            </tr>
        </thead>
        <tbody>
            {% for process in running_processes %}
                <tr>
                    <td>{{ process.name }}</td>
                    <td><a href="{{ url_for('tools_bp.process_info', pid=process.pid) }}">{{ process.pid }}</a></td>
                    <td>{{ process.subject_name }}</td>
                    <td>{{ process.study_name }}</td>
                    <td>{{ process.start_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="{{ url_for('tools_bp.clear_running_logs') }}" method="POST">
        <button type="submit">Clear running logs</button>
    </form>
    <p>Total number of running processes: <b>{{ running_processes|length }}</b></p>

    <h2>Completed Processes</h2>
    <table border="1" cellpadding="2" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>PID</th>
                <th>Subject Name</th>
                <th>Study Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Duration (s)</th>
                <th>Return Code</th>
            </tr>
        </thead>
        <tbody>
            {% for process in completed_processes %}
                <tr>
                    <td>{{ process.name }}</td>
                    <td><a href="{{ url_for('tools_bp.process_info', pid=process.pid) }}">{{ process.pid }}</a></td>
                    <td>{{ process.subject_name }}</td>
                    <td>{{ process.study_name }}</td>
                    <td>{{ process.start_time }}</td>
                    <td>{{ process.end_time }}</td>
                    <td>{{ process.duration }}</td>
                    <td>{{ process.returncode }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="{{ url_for('tools_bp.clear_completed_logs') }}" method="POST">
        <button type="submit">Clear completed logs</button>
    </form>
    <p>Total number of completed processes: <b>{{ completed_processes|length }}</b></p>

</body>
</html>