<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}/{{ study }}</title>
    <!-- Use public jsTree CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
    <!-- Use public jQuery and jsTree JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
    <style>
        #file-tree {
            font-family: monospace; /* Use fixed-width font */
        }
    </style>
</head>
<body>
    <header>
        <a href="{{ url_for('main_bp.index') }}">Home</a>, 
        <a href="{{ url_for('main_bp.subjects') }}">Subjects</a>, 
        <a href="{{ url_for('main_bp.studies') }}">Studies</a>, 
        <a href="{{ url_for('tools_bp.processes') }}">Processes</a>, 
        <a href="{{ url_for('main_bp.subject', subject_name=subject) }}">Back to Subject</a>
    </header>

    <h1>{{ subject }}/{{ study }}</h1>
    <h2>Study Notes</h2>
    <p><pre>{{ notes }}</pre></p>
    <form id="edit-study-note-form" method="GET" action="{{ url_for('handlers_bp.file_viewer', subject_name=subject, study_name=study, file_relative_path='notes.txt') }}">
        <button type="button" onclick="editStudyNote()">Edit Study Note</button>
    </form>

    <script>
        function editStudyNote() {
            const url = "{{ url_for('handlers_bp.file_viewer', subject_name=subject, study_name=study, file_relative_path='notes.txt') }}";
            fetch(url, { method: 'GET' })
                .then(response => {
                    if (response.ok) {
                        // If the file exists, redirect to the viewer route
                        document.getElementById('edit-study-note-form').submit();
                    } else if (response.status === 404) {
                        // If the file does not exist, create it using PUT
                        fetch(url, { method: 'PUT' })
                            .then(putResponse => {
                                if (putResponse.ok) {
                                    // After creating the file, redirect to the viewer route
                                    document.getElementById('edit-study-note-form').submit();
                            } else {
                                alert("Failed to create notes.txt.");
                            }
                        });
                    } else {
                        alert("Failed to access notes.txt.");
                    }
                });
        }
    </script>


    <h2>Files</h2>
    <div id="file-tree"></div>

    <script>
        $(document).ready(function () {
            $('#file-tree').jstree({
                'core': {
                    'data': [
                        {
                            //'text': 'Files under {{ subject }}/{{ study }}',
                            'text': '',
                            'state': { 'opened': false }, // Start collapsed
                            'children': {{ file_tree|tojson }}
                        }
                    ]
                },
                'plugins': ['types'], // Enable types plugin
                'types': {
                    'jstree-folder': {
                        'icon': 'https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/folder.png' // Public folder icon
                    },
                    'jstree-file': {
                        'icon': 'https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/file.png' // Public file icon
                    }
                }
            });

            // Handle double-click on files and specific folders
            $('#file-tree').on('select_node.jstree', function (e, data) {
                const node = data.node;
                const fileName = node.text;
                const filePath = node.original.full_path;
                const path = data.instance.get_path(data.node, '/');

                // Check file extension and open in browser
                if (fileName.endsWith('.txt') || fileName.endsWith('.csv') || fileName.endsWith('.json') || fileName.endsWith('.nii') || fileName.toLowerCase().endsWith('.dcm') || fileName.endsWith('.png')) {
                    const url = "{{ url_for('handlers_bp.file_viewer', subject_name=subject, study_name=study, file_relative_path='') }}" + path;
                    window.open(url, '_blank');
                }

                // Handle folders starting with "MR-SExxx"
                const folderPattern = /^MR-SE\d{3}/;
                if (folderPattern.test(fileName)) {
                    const url = "{{ url_for('handlers_bp.dicom_series_viewer', subject_name=subject, study_name=study, series_relative_path='') }}" + path;
                    window.open(url, '_blank');
                }
            });
        });
    </script>

    <h2>Processing Tools</h2>
    {% if toolset %}
        <table border="1" cellpadding="2" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Message</th>
                    <th>PID</th>
                    <th>Commands</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for tool in toolset %}
                    <tr>
                        <td>{{ tool.name }}</td>
                        <td>{{ tool.status }}</td>
                        <td>{{ tool.message if tool.message else '' }}</td>
                        <td align="center">
                            {% if tool.pid %}
                                <a href="{{ url_for('tools_bp.process_info', pid=tool.pid) }}" target="_blank">{{ tool.pid }}</a>
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if tool.command %}
                                <!-- Original button code -->
                                <button type="button" onclick="runToolCommand('{{ tool.name }}', '{{ tool.command }}')">
                                    {{ tool.command }}
                                </button>
                        
                                <!-- Hypertext link. Usfeul to see the URL -->
                                <!-- <a href="/tools/{{ tool.name }}/{{ tool.command }}/subjects/{{ subject }}/studies/{{ study }}/" target="_blank">
                                    {{ tool.command }}
                                </a> -->
                            {% endif %}
                        </td>
                        <td>not yet
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No processing tools available for this study.</p>
    {% endif %}

    <script>
        function runToolCommand(toolName, command) {
            const url = `/tools/${toolName}/${command}/subjects/{{ subject }}/studies/{{ study }}/`;
            
            // Change cursor to wait
            document.body.style.cursor = 'wait';

            // Send POST request
            fetch(url, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Failed to execute command');
                    }
                })
                .then(data => {
                    console.log(data); // Log the server response
                    // Reload the page to update the study page
                    location.reload();
                })
                .catch(error => {
                    console.error(error);
                    alert('An error occurred while executing the command.');
                })
                .finally(() => {
                    // Reset cursor to default
                    document.body.style.cursor = 'default';
                });
        }
    </script>



    {% if dicom_info %}
    <h2>DICOM header info</h2>
    <table border="1" cellpadding="2" cellspacing="0">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Study Time</td>
                <td>
                    {% if 'StudyTime' in dicom_info %}
                        {{ dicom_info.StudyDate if 'StudyDate' in dicom_info else '' }} 
                        {{ dicom_info.StudyTime[:2] }}:{{ dicom_info.StudyTime[2:4] }}:{{ dicom_info.StudyTime[4:6] }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Patient Sex</td>
                <td>{{ dicom_info.PatientSex if 'PatientSex' in dicom_info else 'N/A' }}</td>
            </tr>
            <tr>
                <td>Patient Weight</td>
                <td>
                    {% if 'PatientWeight' in dicom_info %}
                        {{ (dicom_info.PatientWeight * 2.20462)|round(1) }} lbs
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Patient Size</td>
                <td>
                    {% if 'PatientSize' in dicom_info %}
                        {{ (dicom_info.PatientSize * 39.3701)|round(1) }} in
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Patient Age</td>
                <td>{{ dicom_info.PatientAge if 'PatientAge' in dicom_info else 'N/A' }}</td>
            </tr>
            <tr>
                <td>Family Name</td>
                <td>{{ dicom_info.PatientName.family_name if dicom_info.PatientName and dicom_info.PatientName.family_name else 'N/A' }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}


    <h2>DICOM</h2>

    <table border="1" cellpadding="2" cellspacing="0">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Tag</th>
            </tr>
        </thead>
        <tbody>
            {% for folder in dicom_folders %}
                <tr>
                    <td>{{ folder.series_number }}</td>
                    <td>
                        <a href="{{ url_for('handlers_bp.dicom_series_viewer', subject_name=subject, study_name=study, series_relative_path=folder.relative_path) }}" target="_blank">
                            {{ folder.name }}
                        </a>
                    </td>
                    <td>{{ folder.tag }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{{ url_for('main_bp.subject', subject_name=subject) }}">Back to Studies</a>


</body>
</html>
