<!DOCTYPE html>
<html>
<head>
    <title>All Subjects</title>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">Home</a>
    </header>

    <h1>All Subjects</h1>

    <table border="1" cellpadding="2" cellspacing="0">
        <thead>
            <tr>
                <th>Subject Name</th>
                <th>Number of Studies</th>
            </tr>
        </thead>
        <tbody>
            {% for subject, study_count in subjects %}
                <tr>
                    <td>
                        <a href="{{ url_for('subject', subject_name=subject) }}">{{ subject }}</a>
                    </td>
                    <td>{{ study_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <p>Total number of subjects: <b>{{ subjects|length }}</b></p>

    <p>Code: [<b>D</b>iagnostic, <b>V</b>olunteer, <b>P</b>hantom]; 
    [<b>U</b>mn, UC<b>S</b>F, <b>H</b>CMC]; 
    [<b>A</b>,<b>B</b>]
</body>
</html>