<!DOCTYPE html>
<html>
<head>
    <title>Text File: {{ filepath }}</title>
</head>
<body>
    <h1>
        {% if study %}
            Text File: {{ subject }}/{{ study }}/{{ filepath }}
        {% else %}
            {% if subject %}
                Text File: {{ subject }}/{{ filepath }}
            {% else %}
                Text File: {{ process_id }}/{{ filepath }}
            {% endif %}
        {% endif %}
    </h1>
    <pre>{{ content }}</pre>
    <br>
    {% if not readonly %}
        <form action="{{ url_for('handlers_bp.edit_file_page', subject_name=subject, study_name=study, file_relative_path=filepath) }}" method="GET">
            <button type="submit">Edit File</button>
        </form>
    {% endif %}
    <br>
    {% if study %}
        <a href="{{ url_for('study', subject_name=subject, study_name=study) }}">Back</a>
    {% else %}
        {% if subject %}
            <a href="{{ url_for('subject', subject_name=subject) }}">Back</a>
        {% else %}
            {% if process_id %}
                <a href="{{ url_for('tools_bp.processes', process_id=process_id) }}">Back</a>
            {% else %}
                <a href="{{ url_for('index') }}">Back to Home</a>
            {% endif %}
        {% endif %}
    {% endif %}        

</body>
</html>