<!DOCTYPE html>
<html>
<head>
    <title>Text File: {{ filepath }}</title>
</head>
<body>
    <h1>
        {% if study %}
            Text File: {{ subject }}/{{ study }}/{{ filepath }}
        {% else %}
            Text File: {{ subject }}/{{ filepath }}
        {% endif %}
    </h1>
    <pre>{{ content }}</pre>
    <br>
    <form action="{{ url_for('edit_file_page', subject_name=subject, study_name=study, file_relative_path=filepath) }}" method="GET">
        <button type="submit">Edit File</button>
    </form>
    <br>
    <a href="{% if study %}{{ url_for('study', subject_name=subject, study_name=study) }}{% else %}{{ url_for('subject', subject_name=subject) }}{% endif %}">Back</a>
</body>
</html>