<!DOCTYPE html>
<html>
<head>
    <title>Text File: {{ filepath }}</title>
</head>
<body>
    <h1>Text File: {{ subject }}/{{ study }}/{{ filepath }}</h1>
    <pre>{{ content }}</pre>
    <br>
    <form action="{{ url_for('edit_file_page', subject_name=subject, study_name=study, file_relative_path=filepath) }}" method="GET">
        <button type="submit">Edit File</button>
    </form>
    <br>
    <a href="{{ url_for('study', subject_name=subject, study_name=study) }}">Back to Study</a>
</body>
</html>